<!-- These are here just to show the structure of the list items -->
    <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
    <li [ngClass]="{ 'completed': toDo.completada, 'editing': editarInput }">
        <div class="view">
            <input class="toggle" type="checkbox" [formControl]="checkboxField">
            <label (dblclick)="habilitarEdicion()">{{toDo.texto}}</label>
            <button (click)="eliminarTarea()" class="destroy"></button>
        </div>
        <input [formControl]="inputTxtEdit" #inputEditing (blur)="deshabilitarEdicion()" class="edit" value="{{toDo.texto}}">
    </li>